[Unit]
Description=FIREFOX BUILDING

[Service]
User=main-builder
Group=sudo
WorkingDirectory=/home/main-builder
ExecStart=/home/main-builder/build-night

[Install]
WantedBy=multi-user.target
