[Unit]
Description=IPFS Daemon
After=network.target home-main\x2dbuilder-http.mount 

[Service]
User=main-builder
Group=web
WorkingDirectory=/home/main-builder
ExecStart=/usr/bin/ipfs daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
